###################################################################################################
#### These are instructions for using the configuration file, which indicate the parameters
#### that need to be changed by the user, their meaning, and an overall description of how the
#### configuration file works. Include caveats that may apply depending on the user's VPC
#### configuration (default VPC, custom VPC or no VPC), and reference other files that may be used
#### in conjunction with this one. The bounding hash marks are 99 characters long.
####
#### Author: @droidls
###################################################################################################

files:
  "/etc/cron.d/apache-sync":
    mode: "000644"
    owner: root
    group: root
    content: |      
      0 0 * * * * aws s3 sync s3://droidls-public/httpd.conf /etc/httpd/conf/  &> /tmp/apache-config-sync.log

commands:
  initial-apache-config-download:
    command: aws s3 sync s3://droidls-public/httpd.conf /etc/httpd/conf/ &> /tmp/apache-config-initial-download.log