# It adds a swap file to the instance. See the following link 
# https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/5/html/Deployment_Guide/s2-swap-creating-file.html
files:
  "/usr/local/bin/addswap.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
     #!/bin/bash

     SWAP_FILE=/home/mySwapFile
     SWAP_SIZE=1024

     # If swap already active, exit.
     swapon -s | grep -q $SWAP_FILE && exit

     # Create the swap file
     dd if=/dev/zero of=$SWAP_FILE bs=1M count=$SWAP_SIZE

     # Create swap
     mkswap $SWAP_FILE

     # Change permissions
     chmod 600 $SWAP_FILE

     # Activate it
     swapon $SWAP_FILE

     # Add entry to fstab
     echo "$SWAP_FILE         swap      swap     defaults    0 0" >> /etc/fstab

commands:
  add_swap:
    command: "/usr/local/bin/addswap.sh"
    ignoreErrors: true