# This ebextension creates a Listener on 443 and adds the certificate via an ARN on an Application Load Balancer
option_settings:
  aws:elbv2:listener:443:
    # DefaultProcess: https ## this process "https" links to the process below.
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:000000000000:certificate/00000000-0000-0000-0000-000000000000
# The following settings forwards traffic from the Load Balancer to port 80
  # aws:elasticbeanstalk:environment:process:https:
  #   Port: '80'
  #   Protocol: HTTP