# This config file creates the redirect from 80 (HTTP) to 443 (HTTPS) by using Custom Resources on an Application Load Balancer
Resources:
  AWSEBV2LoadBalancerListener:
    Type: 'AWS::ElasticLoadBalancingV2::Listener'
    Properties:
      Port: 80
      Protocol: HTTP
      DefaultActions:
        - Type: redirect
          RedirectConfig:
            Host: '#{host}'
            Path: "/#{path}"
            Port: 443
            Protocol: HTTPS
            StatusCode: HTTP_301
          
      
    
