files:
  "/home/ec2-user/attach_EIP.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      METADATA=/opt/aws/bin/ec2-metadata
      INSTANCE_ID=`$METADATA -i | awk '{print $2}'`
      REGION=`$METADATA -z | awk '{print substr($2, 0, length($2)-1)}'`
      ENI=$(aws ec2 describe-network-interfaces --region $REGION --filters Name=attachment.instance-id,Values=$INSTANCE_ID | grep "NetworkInterfaceId" | awk '{print $2}'|tr -d '",')
      MYEIPS="eipalloc-XXXXXXXXXXXXXXXXX"
      for EIP in `echo $MYEIPS`; do aws ec2 associate-address --allocation-id $EIP --instance-id $INSTANCE_ID --no-allow-reassociation --region $REGION; done

container_commands:
  set_eip:
    command: "/home/ec2-user/attach_EIP.sh"
    ignoreErrors: true