# This ebextension creates a conf file to redirect traffic from 80 to 443 on an Apache (HTTPD) Server
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: 000644
    owner: root
    group: root
    content: |
      RewriteEngine On
      RewriteCond %{HTTP:X-Forwarded-Proto} !https
      RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}