# This ebextension file configures a listener on port 443 that passes 
# TCP packets as-is to port 443 on backend instances.
# Use this ebextension when you want the backend instances to terminate SSL

option_settings:
  aws:elb:listener:443:
    ListenerProtocol: TCP
    InstancePort: 443
    InstanceProtocol: TCP