files:
  "/etc/cron.d/apache-sync":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 * * * * aws s3 sync s3://bucket_name/httpd.conf /etc/httpd/conf/  &> /tmp/apache-config-sync.log

commands:
  initial-apache-config-download:
    command: aws s3 sync s3://bucket_name/httpd.conf /etc/httpd/conf/ &> /tmp/apache-config-initial-download.log