# ** IMPORTANT ** 
# For SINGLE INSTANTCE environment only.
# This ebextensions will remove the EIP from a single instance Elastic Beanstalk environment.


files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/deattach_EIP.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      METADATA=/opt/aws/bin/ec2-metadata
      INSTANCE_ID=`$METADATA -i | awk '{print $2}'`
      REGION=`$METADATA -z | awk '{print substr($2, 0, length($2)-1)}'`
      EIPASSOC=($(aws ec2 describe-network-interfaces --region $REGION --filters Name=attachment.instance-id,Values=$INSTANCE_ID | grep "AssociationId" | awk '{print $2}' | tr -d '",'))
      EIPALLOC=($(aws ec2 describe-network-interfaces --region $REGION --filters Name=attachment.instance-id,Values=$INSTANCE_ID | grep "AllocationId" | awk '{print $2}'| tr -d '",'))

      # The following command disassociate EIP
      # Added checks to see if $EIPASSOC is not empty or null
      if [ ! -z "$EIPASSOC" ]
      then
        for EIP in `echo $EIPASSOC`; do aws ec2 disassociate-address --association-id $EIPASSOC --region $REGION; done
      else
        echo "No EIP Associated."
      fi

      # The following command releases EIP.
      # Added checks to see if $EIPALLOC is not empty or null
      # This step is necessary. If not done, EIP will get reassociated to the Instance
      if [ ! -z "$EIPALLOC" ]
      then
        echo "Releasasing  allocation id:" $EIPALLOC
        aws ec2 release-address --allocation-id $EIPALLOC --region $REGION
      else
        echo "No EIP Allocated."
      fi