# This ebextensions reconfigures the docker daemon
#
# In this example we are going to reconfigure daemon to set the desired shm size.
# For additional docker daemon configuration please refer to https://docs.docker.com/engine/reference/commandline/dockerd/#daemon-configuration-file
#
# 1) Setup the required docker daemon configuration file "daemon.json"
# 2) Restart Docker daemon
#

files:
  "/etc/docker/daemon.json":
    mode: "000755"
    owner: root
    group: root
    content: |
     { "default-shm-size": "128M" }

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/restart_docker.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
     service docker restart