# This ebextensions will capture Elastic Beanstalk's environment details and dump it into a text file.

files:
  "/home/ec2-user/beanstalk_environment_info.txt":
    content: |
      beanstalk.environment.name=`{ "Ref": "AWSEBEnvironmentName" }`
      beanstalk.environment.id=`{ "Ref": "AWSEBEnvironmentId" }`
