# This ebextensions increases the TCP port range on a Linux instance
#
# After modifying the sysctl configuration file, you need to execute 
# the following command to load sysctl settings from the file /etc/sysctl.conf file.

commands:
  00-write-config:
    command: 'echo "net.ipv4.ip_local_port_range = 1024 65535" >> /etc/sysctl.conf'
  01-get-unique-configs:
    command: "cat /etc/sysctl.conf | uniq > /tmp/sysctl.conf"
  02-apply-config:
    command: "cat /tmp/sysctl.conf > /etc/sysctl.conf"
  03-apply-config:
    command: "sysctl -p"