# This ebextensions will restrict SSH access to Elastic Beanstalk instances in 
# a non-default VPC
#
#
# The value of the SSHSourceRestriction should be in the form of:
# protocol, from_port, to_port, ipaddr/sg-id
#
# The CIDR range or the name of a security group to allow traffic from. To specify
# a security group from another account (EC2-Classic only, must be in the same region),
# include the account ID prior to the security group name
# (e.g., other_account_id/security_group_name). If you use Amazon Virtual Private Cloud
# (Amazon VPC) with Elastic Beanstalk so that your instances are launched within a
# virtual private cloud (VPC), specify a security group ID instead of a security group name.

# Example: tcp, 22, 22, 54.240.196.185/32

# Example: tcp, 22, 22, my-security-group

# Example (EC2-Classic): tcp, 22, 22, 123456789012/their-security-group

# Example (VPC): tcp, 22, 22, sg-903004f8

option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SSHSourceRestriction
    value: tcp, 22, 22, sg-XXXXXXXXXXXXX
