
###################################################################################################
#### This configuration file configures ingress rules to the instance's from the ELB security group.
#### This will override existing configuration of the Security Groups for both the instance and the
#### ELB. The configuration below allows 80 and 443 to the ELB and port 80 from the ELB to the
#### instances.
###################################################################################################

Resources:
    AWSEBSecurityGroup:
        Type: AWS::EC2::SecurityGroup
        Properties:
            GroupDescription: EB SecurityGroup for ElasticBeanstalk environment.
            SecurityGroupIngress:
                - ToPort: 80
                  FromPort: 80
                  IpProtocol: tcp
                  SourceSecurityGroupId: { "Fn::GetAtt" : [ "AWSEBLoadBalancerSecurityGroup", "GroupId" ]}
            SecurityGroupIngress:
                - ToPort: 443
                  FromPort: 443
                  IpProtocol: tcp
                  SourceSecurityGroupId: { "Fn::GetAtt" : [ "AWSEBLoadBalancerSecurityGroup", "GroupId" ]}