# This ebextensions will set environment variables on an instance
commands:
  00-set-env-vars:
    command: |
      echo 'export PRIVATE_IP=$(curl http://169.254.169.254/latest/meta-data/local-ipv4 2>/dev/null)' > /etc/profile.d/set_env_variables.sh
      chmod 755 /etc/profile.d/set_env_variables.sh
