## This ebextension is for deploying static website to Tomcat 8 platform only

option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /html: static_html

files:
  "/home/ec2-user/static_files.zip":
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://leandrosiow.s3-us-west-2.amazonaws.com/text.zip


  "/opt/elasticbeanstalk/hooks/appdeploy/post/unzip_staticfiles.sh":
    mode: 755
    content: |
      #!/usr/bin/env bash
      mkdir -p /usr/share/tomcat8/webapps/ROOT/static_html
      chown tomcat:tomcat /usr/share/tomcat8/webapps/ROOT/static_html
      unzip /home/ec2-user/static_files.zip -d /usr/share/tomcat8/webapps/ROOT/static_html


Resources:
  # Use instance profile to authenticate to S3 bucket
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"