#####################################################################################################
#   This ebextension does the following:
#   1. Install jq package
#   2. Creates a bash script to pull SSM Parameters for a specific path ""
#   3. Runs the ssm.sh files using the ebextension "command" key
#
#   Here is what the ssm.sh does:
#     - Gets SSM Parameters by using the AWS CLI (aws ssm get-parameters-by-path)
#     - Parses above results into jq to extract the name and value of the parameters
#     - If the name your parameter has a path (e.g. "/myenv/vars/DB_USERNAME"), it will strip out "/myenv/vars" to obtain "DB_USERNAME"
#     - Next it will insert VAR_NAME="Value" into a hidden file .ssm_vars as follows for example:
#     DB_USERNAME="admin"
#
#     - Finally to increase security for .ssm_vars:
#       - user and group is set to "ec2-user"
#       - permissions is set to 400
#
#   How to use this file:
#   1. Update the REGION and SSM_PATH accordingly
#   2. Place it in your .ebextensions folder
#   3. Deploy your application.
#
#   Requirements:
#   - Amazon AMI (this ebextension is not configured for Ubuntu, etc.)
#   - Minimum IAM Permission for Instance Profile/Role. Please update Resources ARN accordingly with the region and account-id.
#   {
#     "Version": "2012-10-17",
#     "Statement": [
#       {
#         "Effect": "Allow",
#         "Action": [
#           "ssm:GetParameters"
#         ],
#         "Resource": "arn:aws:ssm:eu-west-1:<account-id>:parameter/myenv/vars/"
#       }
#     ]
#   }
#####################################################################################################


packages:
  yum:
    jq: []

files:
  "/home/ec2-user/ssm.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      REGION=us-west-2
      SSM_PATH="/myenv/vars"
      echo $(aws ssm get-parameters-by-path --no-paginate --with-decryption --region ${REGION} --path ${SSM_PATH}) \
            | jq -r '.Parameters| .[] | .Name + "=\"" + .Value + "\""  '  \
            | sed -e "s~${SSM_PATH}/~~" \
            > /home/ec2-user/.ssm_vars
      chown ec2-user:ec2-user /home/ec2-user/.ssm_vars
      chmod 400 /home/ec2-user/.ssm_vars

commands:
  00-getSSM:
    command: /home/ec2-user/ssm.sh


