files:
  "/home/ec2-user/addvolumetags.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      IID=$(curl http://169.254.169.254/latest/meta-data/instance-id 2>/dev/null)
      AWS_REGION=$(curl http://169.254.169.254/latest/meta-data/placement/availability-zone)
      vol=$(aws ec2 describe-volumes --region $AWS_REGION --filters Name=attachment.instance-id,Values=$IID | grep "vol-*" | awk '{print $2}' | tr -d '",')
      envname=$(aws --output text ec2 describe-tags --filters "Name=resource-id,Values=$IID" "Name=key,Values=elasticbeanstalk:environment-name" --region eu-west-1 | awk '{print $5}')
      envid=$(aws --output text ec2 describe-tags --filters "Name=resource-id,Values=$IID" "Name=key,Values=elasticbeanstalk:environment-id" --region eu-west-1 | awk '{print $5}')
      for volumes in $vol; do aws ec2 create-tags --resources $volumes --tags Key=elasticbeanstalk:environment-name,Value=$envname Key=elasticbeanstalk:environment-id,Value=$envid --region=eu-west-1; done

commands:
  00-tagvolumes:
    command: /home/ec2-user/addvolumetags.sh