# This ebextensions tags volumes with the Elastic Beanstalk env name and ID
files:
  "/home/ec2-user/add_volume_tags.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      METADATA=/opt/aws/bin/ec2-metadata
      INSTANCE_ID=`$METADATA -i | awk '{print $2}'`
      REGION=`$METADATA -z | awk '{print substr($2, 0, length($2)-1)}'`
      VOLUME_ATTACHEMENTS=$(aws ec2 describe-volumes --region $REGION --filters Name=attachment.instance-id,Values=$INSTANCE_ID | grep "vol-*" | awk '{print $2}' | tr -d '",')
      ENV_NAME=$(aws --output text ec2 describe-tags --filters "Name=resource-id,Values=$INSTANCE_ID" "Name=key,Values=elasticbeanstalk:environment-name" --region $REGION | awk '{print $5}')
      ENV_ID=$(aws --output text ec2 describe-tags --filters "Name=resource-id,Values=$INSTANCE_ID" "Name=key,Values=elasticbeanstalk:environment-id" --region $REGION | awk '{print $5}')
      for volumes in $VOLUME_ATTACHEMENTS; do aws ec2 create-tags --resources $volumes --tags Key=elasticbeanstalk:environment-name,Value=$ENV_NAME Key=elasticbeanstalk:environment-id,Value=$ENV_ID --region=$REGION; done

commands:
  00-tagvolumes:
    command: /home/ec2-user/add_volume_tags.sh