# This ebextensions finds the security group ID of an EB instance and
# adds it as ingress rule on a second security group

files:
  "/usr/local/bin/sg-editor.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash    
      METADATA=/opt/aws/bin/ec2-metadata
      INSTANCE_ID=`$METADATA -i | awk '{print $2}'`
      REGION=`$METADATA -z | awk '{print substr($2, 0, length($2)-1)}'`

      # Find our dynamic Security Group name for the instance this is running on.
      DYN_SG_ID=$(aws ec2 describe-instances --instance-id=$INSTANCE_ID --query 'Reservations[*].Instances[*].SecurityGroups[*].GroupId' --output text --region $REGION)

      # Add the dynamic SG ID to our static EC2 SG ingress rule set.
      aws ec2 authorize-security-group-ingress --group-id sg-InsertMyStaticEC2securityGroupIDhere --protocol tcp --port 80 --source-group $DYN_SG_ID --region $REGION

container_commands:
  sg-editor:
    command: "./sg-editor.sh"
    leader_only: false
    cwd: "/usr/local/bin/"
    ignoreErrors: true